body {
    text-align: center;
    background-color: #0A1128;
    color: #A2ABAB;
    line-height: 40px;
    font-size: 14px;
}
h2 {
    line-height: 50px;
    font-style: italic;
    padding: 1%;
}
ul {
    background-color: #586994;
    font-style: italic;
}
ol {
    background-color: #586994;
    font-style: italic;
}
a {
    background-color: #7D869C;
    font-style: italic;
}
div {
    border: 2px solid green;
}
#foto {
    float: left;
    height: 200px;
    padding: 10px;
    background-color: #a4bdbc
}